body{
    margin-left: 50px;
    margin-right: 50px;
}

.heading{
    font-size: 70px;
    text-align: center;
    margin-bottom: -210px;
    margin-top: -90px;
}

.dateplace{
    font-size: 9.5px;
    text-align: right;
    position: absolute;
    top: 78px;
    left: 200px;
    font-family:Arial, Helvetica, sans-serif;
}

.website{
    font-size: 15px;
    position: relative;
    top: 140px;
    right: 88px;
}

.thehindulogo{
    width: 170px;
    margin-bottom: -20px;
    margin-left: -40px;
    margin-right: -40px;
}

.brand{
    font-size: 9px;
    position: relative;
    bottom: 135px;
    right: 85px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.followus{
    font-size: 9.5px;
    position: relative;
    bottom: 240px;
    left: 1050px;
    margin-right: 1050px;
}

.cities{
    font-size: 12.5px;
    margin-top: -10px;
    margin-bottom: -10px;
}

.headlines1{
    background-color: rgb(255, 237, 172);
    width: 290px;
    height: 250px;
    float: left;
    width: 18.5%;
    margin: 10px;
    
}

.headlines1 > p{
    text-align: left;
    margin-left: 30px;
    margin-top: 5px;
}

.a1{
    color: white;
    position: relative;
    bottom: 250px;
}

.a2{
    background-color: rgb(205, 2, 2);
    width: 235px;
    height: 240px;
    color: white;
    padding-left: 20px;
    padding-top: 10px;
    position: relative;
    bottom: 5px;
    right: 30px;    
}

.hr1{
    margin-top: 270px;
}

.news1{
    width: 10.5%;
    position: absolute;
    float: left;
}

.newsa1{
    font-size: 25px;
}

.newsa2{
    font-size: 62px;
    font-weight: 1000;
    margin-bottom: -5px;
}

.div1{
    position: absolute;
    top: 780px;
    left: 28%;
    width: 18%;
}

.p1{
    font-size: 25px;
    font-weight: 200;
    margin-bottom: -5px;
}

.p2, .p3, .p4, .p5{
    font-size: 11.5px;
}

.p3, .p5{
    background-color: rgb(213, 212, 212);
}

.line1{
    background-color: grey;
    width: 110%;
    height: 3px;
    position: absolute;
    left: -15px;
}

.line4{
    background-color: grey;
    width: 110%;
    height: 1px;
    position: relative;
    left: -15px;
}

.hr2{
    position: relative;
    right: 600px;
    top: 40px;
}